/*============================= Font Google =============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*============================= Common CSS =============================*/
:root {
  --primary-font: "Roboto Condensed", sans-serif;
  --primary-color: #ffcc00;
  --secondary-color: #0404e2;

  --white: #fff;
  --black: #000;
  --text-heading: #444444;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  font-family: var(--primary-font);
}
html {
  font-size: 62.5%;
}
button {
  border: none;
  outline: none;
}
.ml-10 {
  margin-left: 10px;
}
.ml-24 {
  margin-left: 24px;
}
/*============================= Header CSS =============================*/
.top {
  position: absolute;
  width: 100%;
  z-index: 1;
}
header {
  background-image: url("./image/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.container {
  max-width: 1024px;
  margin: auto;
}
.header-top {
  justify-content: space-between;
  padding: 12px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.brands {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--white);
  cursor: pointer;
}
.brands span {
  color: var(--primary-color);
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar li {
  margin-left: 16px;
  position: relative;
}
.navbar li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 0%;
  transition: width 0.2s ease;
}
.navbar li:hover:after {
  width: 100%;
}
.navbar li a {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--white);
  transition: color 0.2s ease;
}
.navbar li a:hover {
  color: var(--primary-color);
}
.overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.6;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
}
.header-text h1 {
  font-size: 3.2rem;
}
.header-text p {
  font-size: 1.8rem;
  margin: 12px 0;
}
.header-text button {
  min-width: 150px;
  height: 40px;
  padding: 10px 30px;
  margin-top: 20px;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
  background: transparent;
  transition: background 0.2s ease;
}
.header-text button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.logo-mobile,
.navbar-toggle-mobile,
.navbar-close-mobile {
  display: none;
}
/*============================= Features CSS =============================*/
.features {
  padding: 50px 0;
  background-image: url("./image/bg-features.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}
.features-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.features-heading span,
.heading-icon {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--primary-color);
}
.heading-icon {
  margin-right: 30px;
}
.features-list {
  justify-content: space-between;
}
.features-item {
  width: 20%;
  text-align: center;
  padding: 20px 10px;
  transition: all 0.2s ease;
}
.features-item:hover {
  box-shadow: 1px 1px 5px 5px var(--primary-color);
}
.features-item h2 {
  font-size: 2.4rem;
  color: var(--primary-color);
  margin-bottom: 14px;
}
.features-item p {
  font-size: 1.6rem;
  color: var(--white);
}
.features-icon {
  font-size: 6rem;
  color: #eeee22;
  margin-bottom: 32px;
}
/*============================= Admissions CSS =============================*/
.admissions {
  padding: 50px 0;
  background-image: url("./image/co-so-2-bvu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}
.features-admissions i,
.features-admissions span {
  color: var(--white);
}
.admissions-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.admissions-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: bold;
  width: 200px;
  height: 200px;
  border: 4px solid var(--white);
}
.admissions-action {
  text-align: center;
  margin: 70px 0;
}
.admissions-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  max-width: 400px;
  font-size: 2.4rem;
  font-weight: 600;
  border: 2px solid var(--primary-color);
  color: var(--white);
  transition: background-color 0.2s ease;
}
.admissions-btn span {
  margin-left: 8px;
}
.admissions-btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
/*============================= News & Experience CSS =============================*/
.news,
.experience {
  padding: 50px 0;
}
.features-news i,
.features-news span {
  color: var(--secondary-color);
}
.wrapper-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.column {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.post-img-aside {
  display: block;
  margin-bottom: 20px;
}
.post-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.post-item {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.img-small {
  display: block;
  overflow: hidden;
  max-width: 80px;
}
.img-zoom {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.img-zoom:hover {
  transform: scale(1.2);
}
.post-link-aside,
.post-link {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  color: var(--text-heading);
}
.post-link {
  overflow: hidden;
  max-width: 350px;
  transition: color 0.2s ease;
}
.post-link-aside:hover,
.post-link:hover {
  color: var(--secondary-color);
}
.read-more {
  padding: 30px 0;
  text-align: left;
}
.read-link {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.read-link span {
  letter-spacing: 2px;
}
.read-link i {
  margin-left: 10px;
}
.new {
  width: 30px;
  height: 15px;
}

/*============================= Responsive CSS =============================*/
/*============ Mobile ============*/
@media (max-width: 575px) {
  /* Header */
  .header-top {
    padding: 10px 20px 0;
  }
  .brands {
    font-size: 3.2rem;
  }
  .navbar-toggle-mobile,
  .navbar-close-mobile {
    display: block;
    font-size: 3.2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  .navbar-close-mobile {
    color: var(--white);
    margin: 12px 0;
    padding: 24px;
  }
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--white);
    flex-direction: column;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.2s ease;
  }
  .logo-mobile {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 40px 0;
  }
  .navbar li {
    padding: 20px;
    margin-left: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
  .navbar li:hover:after {
    top: 50px;
    width: 80%;
    background-color: var(--white);
  }
  .navbar li a:hover {
    color: var(--white);
  }
  .header-text {
    width: 80%;
  }
  /* Features */
  .features-item {
    width: 100%;
  }
  /* Admissions */
  .admissions-item {
    width: 90%;
  }
  .admissions-btn {
    padding: 10px 16px;
    max-width: 380px;
  }
  /* New & Experience */
  .heading-icon {
    margin-right: 20px;
  }
  .wrapper-list {
    flex-direction: column;
  }
  .column {
    margin-bottom: 10px;
  }
  .post-link {
    max-width: 260px;
  }
}
